//Stax, a second-generation MTurk automation tool
//Copyright (C) 2018  Resheet Schultz
//
//This program is free software: you can redistribute it and/or modify
//it under the terms of the GNU General Public License as published by
//the Free Software Foundation, either version 3 of the License, or
//(at your option) any later version.
//
//This program is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU General Public License for more details.
//
//You should have received a copy of the GNU General Public License
//along with this program.  If not, see <https://www.gnu.org/licenses/>.

// fix these to use css variables instead of scss variables
:root {
  ////////////////////////////////////////////////////////////////////////////////
  //base.scss
  ////////////////////////////////////////////////////////////////////////////////
  --body-bg: #020202;

  ////////////////////////////////////////////////////////////////////////////////
  //buttons.scss
  ////////////////////////////////////////////////////////////////////////////////
  --danger-button-fg: #000000;
  --danger-button-color: #ff2929;
  --raised-button-fg: #000000;
  --raised-button-color: #ffb541;
  --cancel-button-fg: #c61717;
  --cancel-button-hover-fg: #ff0000;
  --protect-button-fg: #17c63e;
  --protect-button-hover-fg: #00ff37;

  ////////////////////////////////////////////////////////////////////////////////
  //chapter.scss
  ////////////////////////////////////////////////////////////////////////////////
  --divider-color: #ffb541;

  ////////////////////////////////////////////////////////////////////////////////
  //checkbox.scss
  ////////////////////////////////////////////////////////////////////////////////
  --checkbox-border-bg: #af7e0f;
  --checkbox-border-hover-bg: #ffb714;
  --checkbox-mark-fill-bg: #f78610;
  --checkbox-bg: #0c0704;

  ////////////////////////////////////////////////////////////////////////////////
  //containers.scss
  ////////////////////////////////////////////////////////////////////////////////
  --block-container-bg: #010101;
  --block-container-border-bg: #732300;
  --block-header-bg: #060606;
  --block-header-border-bg: #3c1f0f;
  --table-row-bg: #0a0a0a;
  --table-row-border-bg: #281004;
  --drop-block-border: #12a0a8;
  --drop-block-bg: #727272;
  --experimental-color: #cc13d6;
  --dangerous-color: #f20202;

  ////////////////////////////////////////////////////////////////////////////////
  //icons.scss
  ////////////////////////////////////////////////////////////////////////////////
  --alert-icon-bg: #c11515;

  ////////////////////////////////////////////////////////////////////////////////
  //inputs.scss
  ////////////////////////////////////////////////////////////////////////////////
  --input-border-hover-bg: #c64607;
  --input-border-focus-bg: #b63702;
  --input-bg: #141414;
  --input-border-bg: #353535;

  ////////////////////////////////////////////////////////////////////////////////
  //navMenu.scss
  ////////////////////////////////////////////////////////////////////////////////
  --nav-menu-item-bg: #000000;
  --nav-menu-item-hover-bg: #ffffff;
  --nav-menu-item-hover-font-color: #000000;

  ////////////////////////////////////////////////////////////////////////////////
  //segmented-control.scss
  ////////////////////////////////////////////////////////////////////////////////
  --segmented-control-border-bg: #d58400;
  --segmented-control-bg: #381900;
  --segmented-control-active-bg: #ce8d50;
  --segmented-control-hover-bg: #853900;
  --segmented-control-active-color: #030302;

  ////////////////////////////////////////////////////////////////////////////////
  //spinner.scss
  ////////////////////////////////////////////////////////////////////////////////
  --spinner-color: #efb500;

  ////////////////////////////////////////////////////////////////////////////////
  //text.scss
  ////////////////////////////////////////////////////////////////////////////////
  --primary-font-family: arial, sans-serif;
  --primary-font-color: #eeedff;
  --header-font-family: arial, sans-serif;
  --link-color: #e9872c;
  --link-visited: #ce6631;
  --link-hover-bg: #e9872c;
  --link-hover-color: #000000;
  --input-error-color: #ff0000;
  --header-color: #fab600;
}

////////////////////////////////////////////////////////////////////////////////
//Screen breakpoints for responsive design
////////////////////////////////////////////////////////////////////////////////
$screen-x-max-phone: 450px;
$screen-x-min-tablet: 451px;
$screen-x-max-tablet: 800px;
$screen-x-min-desktop: 800px;

@import 'text';
@import 'inputs';
@import 'containers';
@import 'buttons';
@import 'navMenu';
@import 'segmented-control';
@import 'checkbox';
@import 'captcha';
@import 'spinner';
@import 'reactTable';
@import 'slider';
@import 'icons';
@import 'colorPicker';

body {
  padding: 0;
  margin: 0;

  background-color: var(--body-bg);
  background-image: url('data:image/svg+xml,%3Csvg width=\'40\' height=\'40\' viewBox=\'0 0 40 40\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cg fill=\'%230f0f0f\' fill-opacity=\'0.4\' fill-rule=\'evenodd\'%3E%3Cpath d=\'M0 40L40 0H20L0 20M40 40V20L20 40\'/%3E%3C/g%3E%3C/svg%3E');
}

.stax-parent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stax-content-parent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}
