/*
Stax, a second-generation MTurk automation tool
Copyright (C) 2018  Resheet Schultz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.danger-button {
  @extend .header-text;
  @extend .normal-text;

  margin: 4px;
  padding-top: 0;
  padding-bottom: 0;

  color: var(--danger-button-color);

  background-color: var(--danger-button-fg);
  border: 2px solid var(--danger-button-color);
  outline: none;

  transition: 0.1s;

  user-select: none;

  &:hover {
    color: var(--danger-button-fg);

    background-color: var(--danger-button-color);

    &:active {
      border-color: var(--danger-button-fg);
    }
  }

  &:active {
    box-shadow: 0 0 0 0 var(--danger-button-color);
  }
}

.raised-button {
  @extend .header-text;
  @extend .normal-text;

  margin: 4px;
  padding-top: 0;
  padding-bottom: 0;

  color: var(--raised-button-color);

  background-color: var(--raised-button-fg);
  border: 2px solid var(--raised-button-color);
  outline: none;

  transition: 0.1s;

  user-select: none;

  &:hover {
    color: var(--raised-button-fg);

    background-color: var(--raised-button-color);

    &:active {
      border-color: var(--raised-button-fg);
    }
  }

  &:active {
    box-shadow: 0 0 0 0 var(--raised-button-color);
  }
}

.disabled-button {
  transition: 0.25s;
  filter: grayscale(100%);
  pointer-events: none;
}

.icon-button {
  width: 1.6em;
  height: 1.6em;
  min-width: 1.6em;
  min-height: 1.6em;
  padding: 3px;
  overflow: hidden;
  transition: 0.1s;
  user-select: none;

  svg {
    width: 100%;
    height: 100%;
  }

}

.circular-icon-button {
  @extend .icon-button;

  background-color: black;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 3px;
  padding: 0;

}

.cancel-button {
  @extend .circular-icon-button;

  background-color: black;
  border: 1px solid transparent;
  border-radius: 50%;

  path {
    fill: var(--cancel-button-fg);
    fill-opacity: 1;
  }

  &:hover {
    box-shadow: 0 0 2px 0 var(--cancel-button-hover-fg);

    path {
      fill: var(--cancel-button-hover-fg);
    }
  }

}

.protect-button {
  @extend .icon-button;
  border: 0;
  background: transparent;

  path {
    fill: var(--protect-button-fg);
    fill-opacity: 1;
  }

  &:hover {
    path {
      fill: var(--protect-button-hover-fg);
    }

    svg {
      filter: drop-shadow(0px 0px 2px var(--protect-button-hover-fg));
    }
  }
}

.exit-button {
  width: 1.6em;
  height: 1.6em;
  min-width: 1.6em;
  min-height: 1.6em;
  margin: 4px;
  overflow: hidden;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.1s;
  user-select: none;

  svg {
    width: 100%;
    height: 100%;
  }

  path {
    fill: var(--cancel-button-fg);
    fill-opacity: 1;
  }

  &:hover {
    box-shadow: 0 0 2px 0 var(--cancel-button-hover-fg);

    path {
      fill: var(--cancel-button-hover-fg);
    }
  }
}
