/*
Stax, a second-generation MTurk automation tool
Copyright (C) 2018  Resheet Schultz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.cb {
  width: 1.6em;
  height: 1.6em;
  min-width: 1.6em;
  min-height: 1.6em;
  margin: 4px;
  overflow: hidden;

  background-color: var(--checkbox-bg);
  border: 1px solid var(--checkbox-border-bg);
  border-radius: 3px;

  &:hover {
    border-color: var(--checkbox-border-hover-bg);
  }
}

.cb-checked {
  width: 100%;
  height: 100%;

  pointer-events: none;

  fill: var(--checkbox-mark-fill-bg);
}

.cb-unchecked {
  display: none;
}
