/*
Stax, a second-generation MTurk automation tool
Copyright (C) 2018  Resheet Schultz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.block {
  margin: 10px;

  background: var(--block-container-bg);
  border: 1px solid var(--block-container-border-bg);
}

.drop-block {
  @extend .block;

  border: 3px dashed var(--drop-block-border);

  align-items: stretch;

  .hidden {
    visibility: hidden;
  }
}

.fake-drop-zone {
  border: 3px dashed var(--drop-block-border);
  height: 150px;
  width: 200px;
}

.table {
  @extend .block;
}

.table-header {
  height: 2em;
  padding-right: 3px;
  padding-left: 3px;

  background: var(--block-header-bg);
  border-bottom: 1px solid var(--block-header-border-bg);

  div {
    cursor: default;
  }
}

.table-row {
  padding-right: 4px;
  padding-left: 4px;

  background: var(--table-row-bg);
  border-bottom: 1px solid var(--table-row-border-bg);
}

.content {
  margin: 4px;
}

.experimental-content {
  @extend .content;
  padding: 4px;
  border: 1px solid var(--experimental-color);

  .header {
    color: var(--experimental-color);
  }
}

.dangerous-content {
  @extend .content;
  padding: 4px;
  border: 1px solid var(--dangerous-color);

  .header {
    color: var(--dangerous-color);
  }
}
