/*
Stax, a second-generation MTurk automation tool
Copyright (C) 2018  Resheet Schultz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.context-menu{
  position: fixed;

  background: black;
  box-shadow: 0 0 2px #999999;

  &.context-menu-option{
    min-width: 160px;
    padding: 6px 50px 5px 10px;

    font-size: 12px;

    cursor: default;
    &:hover{
      color: white;

      background: linear-gradient(to top, #555555, #333333);
    }

    &:active{
      color: #e9e9e9;

      background: linear-gradient(to top, #555555, #444444);
    }

    &__disabled{
      color: #999999;

      pointer-events: none;
    }
  }

  &--separator{
    width: 100%;
    height: 1px;
    margin: 0 0 0 0;

    background: #cccccc;
  }
}
