/*
Stax, a second-generation MTurk automation tool
Copyright (C) 2018  Resheet Schultz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.input-label {
  @extend .normal-text;
  @extend .bold-text;
}

.input-parent {
  margin: 4px;
}

.input {
  @extend .normal-text;

  padding: 1px 4px;

  background-color: var(--input-bg);
  border: 1px solid var(--input-border-bg);
  outline: none;

  &:hover {
    border-color: var(--input-border-hover-bg);
  }

  &:focus {
    border-color: var(--input-border-focus-bg);
  }

  &.invalid-input {
    border-color: var(--input-error-color);
  }

  &::-webkit-inner-spin-button {
    display: none;
  }
}

.input-error-message {
  color: var(--input-error-color);
}

.tiny-input {
  width: 2em;
}

.small-input {
  width: 3.75em;
}

.normal-input {
  width: 100%;
}

.large-input {
  width: 5em;
}

.huge-input {
  width: 8em;
}

.giant-input {
  width: 20em;
}
