/*
Stax, a second-generation MTurk automation tool
Copyright (C) 2018  Resheet Schultz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.nav-menu {
  position: relative;
  z-index: 20;
}

.nav-menu-item-parent {
  flex-grow: 1;
  flex-shrink: 1;
}

.nav-menu-item {
  @extend .large-text;
  @extend .header-text;

  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  display: flex;
  width: 100%;

  text-decoration: none;

  background-color: var(--nav-menu-item-bg);
  border-bottom: 2px solid transparent;
  outline: none; //disable firefox dotted outline

  cursor: default;
  user-select: none;

  // don't apply this style if the nav item is already the current one
  // mostly applicable to touch interfaces where "hover" can persist long after the actual touch occurs
  &:hover {
    &:not(.active-menu-item) {
      color: var(--nav-menu-item-hover-font-color);

      background-color: var(--nav-menu-item-hover-bg);
    }
  }
}

.active-menu-item {
  border-bottom: 2px solid var(--nav-menu-item-hover-bg);
}
