.-loading,
.rt-noData {
  display: none;
}

.rt-input {
  flex-grow: 1;

  overflow: hidden;

  white-space: nowrap;
}

.rt-pagination-parent {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.rt-pagination-input {
  margin-right: 0.25em;
  margin-left: 0.25em;

  text-align: center;
}

.rt-thead {
  @extend .header-text;
}

.rt-thead {
  flex-direction: column;
  justify-content: center;

  display: flex;
  height: 2em;

  background: var(--block-header-bg);

  div {
    cursor: default;
  }

  .rt-th {
    outline: none;

    .rt-resizable-header-content {
      margin-right: 4px;
      margin-left: 4px;
    }

    input {
      box-sizing: border-box;
      width: calc(100% - 8px) !important;
      margin-right: 4px;
      margin-left: 4px;
    }
  }

  input {
    @extend .input;

    box-sizing: border-box;
    margin: 0;
  }
}

.-filters {
  padding-bottom: 0.4em;

  border-bottom: 1px solid var(--block-header-border-bg);
}

.rt-tr {
  @extend .normal-text;

  align-items: center;
  flex-direction: row;
  justify-content: center;

  display: flex;
  min-height: calc(2em + 10px);
}

.rt-td {
  @extend .normal-text;
}

.rt-tr-group {
  background: var(--table-row-bg);
  border-bottom: 1px solid var(--table-row-border-bg);
}
