/*
Stax, a second-generation MTurk automation tool
Copyright (C) 2018  Resheet Schultz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.sc-parent {
  margin: 4px;
}

.sc {
  overflow: hidden;

  border: 1px solid var(--segmented-control-border-bg);
  border-radius: 3px;
}

.sc-label {
  @extend .bold-text;
  @extend .normal-text;
}

.sc-segment-label {
  @extend .normal-text;

  pointer-events: none;
  user-select: none;
}

.sc-segment {
  padding-right: 0.5em;
  padding-left: 0.5em;

  background-color: var(--segmented-control-bg);

  transition-duration: 0.5s;

  &:hover {
    &:not(.sc-segment-active) {
      background-color: var(--segmented-control-hover-bg);

      transition-duration: 0s;
    }
  }
}

.sc-segment-active {
  height: 100%;
  padding-right: 0.5em;
  padding-left: 0.5em;

  background-color: var(--segmented-control-active-bg);

  .sc-segment-label {
    color: var(--segmented-control-active-color);
  }
}
