.slider-parent {
  margin: 4px;
}

.slider-input {
  width: 100%;
  margin: 0;
  overflow: hidden;

  -webkit-appearance: none;
  background: #1c1c1c;
  box-shadow: inset 0 0 36px 1px rgba(0,0,0,0.75);
  border: 1px solid #1c1c1c;
  border-radius: 3px;
  outline: none;

  transition: opacity 0.2s;
}

.slider-input::-webkit-slider-thumb {
  width: 2em;
  height: 1.75em;

  -webkit-appearance: none;
  appearance: none;
  background: #e2e2e2;
  box-shadow: -100vw 0 0 100vw #8c8c8c;

  cursor: pointer;
}
