.spinner,
.spinner::before,
.spinner::after{
  width: 1.2em;
  height: 1.2em;

  border-radius: 50%;

  animation: load7 1.8s infinite ease-in-out;
  animation-fill-mode: both;
}

.spinner{
  position: relative;

  margin: 2em;
  margin-top: -1em;

  color: #ffffff;

  transform: translateZ(0);

  animation-delay: -0.16s;

  &::before,
  &::after{
    position: absolute;
    top: 0;

    content: '';
  }

  &::before{
    left: -1.75em;

    animation-delay: -0.32s;
  }

  &::after{
    left: 1.75em;
  }
}



@keyframes load7{
  0%,
  80%,
  100%{
    box-shadow: 0 1.25em 0 -0.65em;
  }

  40%{
    box-shadow: 0 1.25em 0 0;
  }
}
