/*
Stax, a second-generation MTurk automation tool
Copyright (C) 2018  Resheet Schultz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

////////////////////////////////////////////////////////////////////////////////
//Basic text classes
////////////////////////////////////////////////////////////////////////////////
.text {
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  line-height: 1.5em;
}

////////////////////////////////////////////////////////////////////////////////
//Alternate fonts
////////////////////////////////////////////////////////////////////////////////
.header-text {
  @extend .text;
  @extend .normal-text;
  @extend .bold-text;

  font-family: var(--header-font-family);
  text-decoration: none;
}

.header {
  @extend .text;
  @extend .normal-text;
  @extend .bold-text;

  color: var(--header-color);
  font-family: var(--header-font-family);
  text-decoration: underline;
  text-transform: uppercase;
}

////////////////////////////////////////////////////////////////////////////////
//Sizing classes
////////////////////////////////////////////////////////////////////////////////
.tiny-text {
  @extend .text;

  @media screen and (max-width: $screen-x-max-phone) {
    font-size: 11px;
  }

  @media screen and (min-width: $screen-x-min-tablet) and (max-width: $screen-x-max-tablet) {
    font-size: 11px;
  }

  @media screen and (min-width: $screen-x-min-desktop) {
    font-size: 11px;
  }
}

.small-text {
  @extend .text;

  @media screen and (max-width: $screen-x-max-phone) {
    font-size: 12px;
  }

  @media screen and (min-width: $screen-x-min-tablet) and (max-width: $screen-x-max-tablet) {
    font-size: 13px;
  }

  @media screen and (min-width: $screen-x-min-desktop) {
    font-size: 14px;
  }
}

.normal-text {
  @extend .text;

  @media screen and (max-width: $screen-x-max-phone) {
    font-size: 17px;
  }

  @media screen and (min-width: $screen-x-min-tablet) and (max-width: $screen-x-max-tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $screen-x-min-desktop) {
    font-size: 15px;
  }
}

.large-text {
  @extend .text;

  @media screen and (max-width: $screen-x-max-phone) {
    font-size: 19px;
  }

  @media screen and (min-width: $screen-x-min-tablet) and (max-width: $screen-x-max-tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $screen-x-min-desktop) {
    font-size: 25px;
  }
}

.huge-text {
  @extend .text;

  @media screen and (max-width: $screen-x-max-phone) {
    font-size: 21px;
  }

  @media screen and (min-width: $screen-x-min-tablet) and (max-width: $screen-x-max-tablet) {
    font-size: 19px;
  }

  @media screen and (min-width: $screen-x-min-desktop) {
    font-size: 24px;
  }
}

.giant-text {
  @extend .text;

  @media screen and (max-width: $screen-x-max-phone) {
    font-size: 25px;
  }

  @media screen and (min-width: $screen-x-min-tablet) and (max-width: $screen-x-max-tablet) {
    font-size: 41px;
  }

  @media screen and (min-width: $screen-x-min-desktop) {
    font-size: 61px;
  }
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

////////////////////////////////////////////////////////////////////////////////
//Formatting classes
////////////////////////////////////////////////////////////////////////////////
.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

////////////////////////////////////////////////////////////////////////////////
//Links
////////////////////////////////////////////////////////////////////////////////
.link {
  padding-right: 2px;
  padding-left: 2px;

  color: var(--link-color);
  font-weight: bold;
  text-decoration: underline;

  outline: none;

  cursor: pointer;

  // expand touch targets and margins for mobile
  @media screen and (max-width: $screen-x-max-phone) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &:visited {
    color: var(--link-visited);
  }

  &:hover {
    color: var(--link-hover-color);

    background-color: var(--link-hover-bg);
  }
}

////////////////////////////////////////////////////////////////////////////////
//Copy text (text that when clicked shows a COPIED or similar notice)
////////////////////////////////////////////////////////////////////////////////
.copy-text-parent {
  height: 20px;

  div {
    position: absolute;
  }

  .faded-out {
    display: none;
  }

  .hidden {
    visibility: hidden;
    position: static;
  }
}

.fadein {
  animation: fadein 0.5s forwards;

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.fadeout {
  animation: fadeout 0.5s forwards;

  @keyframes fadeout {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
